<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link type="text/css" href="{{ SITE_URL }}/theme/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="{{ SITE_URL }}/index.html">Diagram Editor UI Spikes</a></h1>
      <nav>
	<ul>
	  <li>
	    Element traversal
	    <ul>
	      <li><a href="navigation-hierarchy.html">Hierarchical</a></li>
	      <li><a href="navigation-jump.html">Jumping</a></li>
	    </ul>
	  </li>
	</ul>
      </nav>
    </header>

    {{ page.content }}
    
  </body>
</html>
