html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Tahoma, sans-serif;
  color: #222;
  background: #efeff0;
}
header {
  width: 200px;
  background: #235;
  overflow: hidden;
  height: 100%;
  float: left;
  color: #fff;
}

h1 {
  margin: 0 1rem;
  padding: 0;
  height: 3rem;
  border-bottom: 1px solid #ccc;
}

h1 a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 0;
}
h1 a:hover {
  background: #fff;
  color: #777;
}

nav {
  margin: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

nav ul span {
  font-weighnt: 300;
  color: #ddd;
}

nav ul li {
  padding: .3em 0;
  margin: 0;
  font-size: .75rem;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

nav > ul > li > a {
  display: block;
  margin-bottom: 1em;
}


a {
  color: #222;
}
a:hover {
  color: #444;
  background: #ccc;
}

nav ul li li:before {
  content: "- ";
}

div#container {
  float: left;
}

div#intro {
  max-width: 800px;
  float: left;
}

div#intro p {
  padding: 0 1em;
}


h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #555;
  text-indent: 1em;
  line-height: 3rem;
  margin: 0;
  background: #ccc;
  border-bottom: 1px solid #bbb;
}

div#info {
  float: left;
  max-width: 400px;
}

div#info {
  float: none;
  max-width: 600px;
}


div#info p {
  padding: 0 1em;
}

p.feedback,
div#feedback {
  border: 1px solid #cfa;
  background: #cfa;
}
p.feedback {
  padding: 1em !important;
  margin-bottom: 0 !important; 
}
span.heart {
  color: #080;
  font-size: 1.2rem;
  line-height: 1rem;
}


div#shortcuts {
  max-width: 600px;
}

div#shortcuts {
  max-width: 200px;
}


div#shortcuts h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  font-weight: 400;
  border-bottom: 1px solid #aaa;
  background: none;
}

div#shortcuts ul {
  padding: 0 0 0 1rem;
  margin: 0;
  list-style: none;
  border-collapse: separate;
  border-spacing: .5em .3em;
}

div#shortcuts ul li {
  line-height: 2em;
  padding: 0 1em 0 0;
  float: left;
}

div#shortcuts ul li kbd {
  padding: .5em .8em;
  margin: 0 .5em 0 0;
  background: #ffe;
  border: 1px solid #aa9;
  height: 1em;
}

p kbd {
  padding: .1em .2em;
  font-size: 1rem;
  background: #ccd;
}

ul.spike-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: #555;
}

ul.spike-list > li > span {
  display: block;
  padding: .5em 1em;
  font-weight: bold;
  border-bottom: 2px solid #ccc
}

ul.spike-list > li > ul {
  padding: 1em 2em;
  list-style-type: square;
}
ul.spike-list > li ul ul {
  list-style-type: none;
}

ul.spike-list > li > ul ul li:before {
  list-style-type: none;
  content: "\2610";
  color: #800;
  margin-right:5px;
}
ul.spike-list > li > ul ul li.checked:before {
  content: "\1F5F9";
  color: #080;
}

/**
 * SVG styling
 **/
svg {
  margin: 0;
  padding: 0;
  background: #fff;
}

svg .element {
  fill: #def;
  stroke-width: 2px;
  stroke: #abc;
}

svg .container {
  fill: rgba(225, 250, 225, .3);
  stroke-width: 2px;
  stroke: #aca;
}

svg .active {
  stroke-width: 3px;
  stroke: #fc0;
}

svg #labels .bg-element {
  fill: #abc;
}

svg #labels .bg-container {
  fill: #aca;
}

svg #labels g.active {
  opacity: 0;
}

svg #labels text {
  fill: #fff;
  font-family: monospace;
  font-weight: bold;
}

svg #overlay line {
  stroke: #555;
  stroke-width: 1px;
}

psvg #overlay line.pos {
  stroke: #a00;
  fill: rgba(0, 200, 0, .5);
  stroke-width: 1px;
}

svg #overlay rect.placeholder {
  fill: rgba(100, 200, 100, .5);
  stroke: rgba(100, 200, 100, .9);
}

svg #overlay line.indicator {
  stroke: #ccc;
}

svg text.label {
  font-family: monospace;
  fill: #333;
}

svg rect.label-bg {
  fill: #eee;
}

svg text.ruler {
  font-size: 6pt;
  color: #ccc;
}




